
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #e3f2fd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #0277bd;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #0277bd;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #0277bd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #03a9f4;
    outline: none;
}

select {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #0277bd;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 95%;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #01579b;
}

.login-button {
    background-color: #fff;
    color: #0277bd;
    border: 1px solid #0277bd;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.login-button:hover {
    background-color: #e1f5fe;
}


